@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*Navigation bar*/
.background {
  background-image: url(/Asset/h1_hero.png);
  width: 100%;
  height: 1080px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  background-position: center;
  opacity: 1;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: transparent;
}
.logo {
  display: block;
  height: 66px;
  padding-left: 15px;
  padding-right: 43.47px;
  max-width: 230px;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 103px;
  width: 100%;
}
.menu-bar {
  margin-right: 30px;
}
.menu-bar ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.menu-bar ul li {
  list-style: none;
}
.menu-bar ul li a {
  text-decoration: none;
  height: 102px;
  color: #091a23;
  font-size: 16px;
  font-family: "Josefin sans", sans-serif;
  font-weight: 400;
  margin: 0px 10px;
  padding: 39px 24px;
  display: flex;
  align-items: center;
}
.menu-bar ul li a:hover {
  color: #ff5600;
}
.menu-bar ul li:nth-child(4) {
  position: relative;
}
.menu-bar ul li:nth-child(4):hover .submenu {
  visibility: visible;
  opacity: 1;
}
.menu-bar ul li .submenu {
  position: absolute;
  width: 170px;
  top: 104px;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0px;
  visibility: hidden;
  z-index: 15;
}
.menu-bar ul li .submenu li {
  width: 163px;
  height: 36px;
}
.menu-bar ul li .submenu li a {
  display: block;
  padding: 6px 10px;
  align-items: flex-start;
}
.order-btn button {
  color: #464d65;
  padding: 19px 47px;
  border-radius: 5px;
  border: 1px solid #ff5600;
  background: none;
  margin-left: 1.25rem;
  font-size: 14px;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.order-btn button:hover {
  background-color: #ff5600;
  color: #ffffff;
}

.sidebar {
  height: auto;
  padding: 0;
  display: none;
  background: none;
  box-shadow: none;
  border: none;
}
.sidebar ul {
  display: none;
  flex-direction: column;
  list-style: none;
  background-color: #635c5c;
  height: 167px;
  padding: 0;
  margin: 0;
  border-radius: 0 0 6px 6px;
}
.btn .hero-btn button {
  color: #ffffff;
  padding: 20px 43px;
  border-radius: 5px;
  border: 1px solid #ff5600;
  background: #ff5600;
  font-size: 14px;
  white-space: nowrap;
  transition: all 0.3s ease;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
/* .sidebar ul.show {
    display: flex;
} */
.sidebar ul li {
  position: relative;
  height: 31px;
}
.sidebar ul li a {
  font-size: 14px;
  border-radius: 5px;
  height: 31px;
  padding: 5px 10px;
  margin: 2px 5px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;
  display: block;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
}
.sidebar ul li a:hover {
  background-color: #ffffff;
  color: #091a23;
}
.sidebar ul li i {
  font-size: 11.2px;
  padding: 0px 0px 0px 4.48px;
}
.toggle-bar {
  background-color: #635c5c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 54px;
  padding: 5px;
}
.bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 33px;
  background-color: #222222;
  color: #ffffff;
  font-weight: 900;
  padding: 7.008px 10px;
  margin: 5px 5px 6px;
  border-radius: 5px;
}
.bar span {
  padding: 2px 2px;
  margin-right: 5px;
}

/*hero section*/
.hero-text {
  display: flex;
  flex-direction: column;
  width: 870px;
  height: 475.4px;
}
.hero-text span {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 44px;
  color: #ff5600;
}
.hero-text h1 {
  color: #212025;
  font-size: 80px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 51px;
}
.hero-text p {
  color: #212025;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding-right: 257px;
  line-height: 30px;
  margin-bottom: 30px;
}
.hero-content {
  padding: 0px 15px;
  width: 870px;
  height: 475.4;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.hero-section {
  width: 1170px;
  height: 475.4px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 220px;
}
/*Chef*/

/*media quires*/
@media (max-width: 1200px) {
  .menu-bar ul li a {
    padding: 39px 15px;
    margin: 0px 10px;
  }
  .menu-bar {
    margin-right: 0px;
  }
  .order-btn button {
    margin-left: 0rem;
  }
  .logo {
    padding: 0 5px;
  }
}
@media (max-width: 992px) {
  .navbar {
    display: block;
    padding: 0 5px;
  }
  .menu {
    display: none;
  }
  .sidebar {
    display: block;
  }
  .logo {
    margin-top: 10px;
    padding-left: 15px;
  }
}
@media (min-width: 993px) {
  .sidebar ul {
    display: none !important;
  }
}

/*Hero Section*/

@media (max-width: 1190px) {
  .hero-text {
    max-width: 690px;
    height: 440.6px;
  }
  .hero-text h1 {
    font-size: 60px;
  }
  .hero-content {
    max-width: 690px;
    height: 440.6px;
  }
  .container {
    max-width: 960px;
    height: 440.6px;
  }
  .hero-section {
    max-width: 930px;
    height: 440.6px;
    padding: 0 15px;
    margin-top: 130px;
  }
  .background {
    width: 100%;
    height: 900px;
  }
}

@media (max-width: 992px) {
  .hero-text {
    max-width: 510px;
    height: 480.6px;
  }
  .hero-text h1 {
    font-size: 45px;
  }
  .hero-text p {
    padding: 0px;
  }
  .hero-content {
    max-width: 510px;
    height: 480.6px;
  }
  .container {
    max-width: 720px;
    height: 486.6px;
    margin: 0px -15px;
  }
  .hero-section {
    max-width: 690px;
    height: 440.6px;
    padding: 0 15px;
    margin-top: 80px;
    margin-right: 24px;
    margin-left: 24px;
    box-sizing: border-box;
  }
  .background {
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 726px) {
  .hero-text {
    max-width: 396px;
    height: 447.4px;
    padding-top: 48px;
  }
  .hero-text h1 {
    font-size: 27px;
  }
  .hero-text span {
    margin-bottom: 30px;
  }
  .hero-text p {
    padding: 0px;
    line-height: 30px;
  }
  .hero-content {
    max-width: 396px;
    height: 447.4px;
  }
  .container {
    max-width: 426px;
    height: 447.4px;
    margin: 0px -15px;
  }
  .hero-section {
    max-width: 396px;
    height: 447.4px;
    padding: 0 15px;
    margin-top: 0px;
    margin: 0;
    box-sizing: border-box;
  }
  .background {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 726px) {
  .hero-text {
    max-width: 290px;
    height: 377.4px;
    padding-top: 48px;
  }
  .hero-content {
    max-width: 290px;
    height: 377.4px;
  }
  .container {
    max-width: 320px;
    height: 447.4px;
    margin: 0px -15px;
  }
  .hero-section {
    max-width: 290px;
    height: 447.4px;
  }
  .background {
    width: 100%;
    height: 600px;
  }
}
/*Chef section*/
.chef{
  padding-top: 195px;
  padding-bottom: 140px;
}
.chef-container{
  width: 1170px;
  height: 683.53px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
.chef-column{
  width: 1200px;
  height: 683.53px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.chef-left{
    width: 570px;
    height: 513.400px;
    padding: 0 15px;
    
}
.chef-content{
  width: 570px;
  height: 285.200px;
  padding-bottom: 50px;
}
.chef-text{
  width: 570px;
  height: 173.400px;
  padding-bottom: 35px;
}
.chef-text span{
  display: block;
  color: #ff5600;
  font-size: 16px;
  font-family: "Poppins",sans-serif;
  margin-bottom: 22px;
}
.chef-text h2{
  color: #212025;
  font-size: 49px;
  font-weight: 600;
  font-family: "Josefin Sans",sans-serif;
  margin-bottom: 17px;
  line-height: 1.3;
}
.chef-content p{
  color: #212025;
  font-size: 16px;
  margin-bottom: 35px;
  padding-right: 50px;
}
.chef-grid{
  width: 600px;
  height: 178.2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin: 0 -15px;
}
.chef-box-outer{
  width: 300px;
  height: 89.100px;
  padding: 0 15px;
}
.chef-box{
  width: 270px;
  height: 69.100px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  align-items: center;
  justify-items: center;
}
.chef-icon , img {
  width: 54px;
  height: 57.5px;
}
.chef-des{
  width: 205px;
  height: 47.6px;
  padding-left: 20px;
}
.chef-des p{
  font-size: 14px;
}
.chef-img{
  width: 570px;
  height: 683.53px;
  padding: 0 15px;
}
.chef-picture{
  width: 570px;
  height: 683.53px;
}
.chef-picture img{
  width: 570px;
  height: 683.53px;
}


